*.pytest_cache
*allure_report
/.idea/misc.xml
/.idea/modules.xml
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/PythonTestApiReqres.iml
/.idea/vcs.xml
/.idea/csv-editor.xml
